.checkbox {
  margin: rem(10) 0;

  .checkbox-input {
    
    label {      
      display: flex;
      align-items: center;
      gap: rem(14);

      .check  {
        display: block;
        width: rem(18);
        height: rem(18);
        border: rem(1) solid map-get($color, bg_gray);
        border-radius: rem(2);
        background: transparent;


        &::before {
          content: '';
          display: block;
          width: rem(18);
          height: rem(14);
          background: url('#{$image-path}/icons/icon-check.svg') center no-repeat;
          background-size: cover;
          transition: transform .2s ease-in;
          transform: scale(0);
        }
      }
      small {
        line-height: 1.18em;
        color: #fff;
      }

      &#check-error { 
        position: absolute;
        font-size: rem(14);
        margin-bottom: rem(6);
        color: map-get($color, bg_dark_blue);
        bottom: rem(-13);
      }
    }  
    input[type="checkbox"] {      
      &.error {
        ~ #check-error {
          + label {
            .check {
              border: rem(1) solid #E34362;
            }
            small {
              color: #E34362;
            }
          }
        }
      }
    }

    .input-check:checked  {
      ~ label {
        .check {
          &::before {
            transform: scale(1);
          }
        }
      }
    }
  }
}