.header-logo { 
  margin: 0 auto;
  
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width: $mini-tablet-portrait-up) {
    max-width: rem(250);
  }

  @media screen and (max-width: $mobile-only){
    max-width: rem(160);
  }
}