$color: (
  bg_green: #9FC54D,
  bg_dark_blue: #3D3079,
  bg_dark:#191919,
  bg_graphitte: #333333,
  bg_graphitte_alt: #B9BABC,
  bg_blue: #0067E3,
  bg_orange: #FFA722,
  bg_blooming_pink: #E34362,
  bg_blooming_red:#FE384C,
  bg_blooming_blue: #00D5D3,
  bg_light_blue: #0091E1,
  bg_tomato: #FA6839,
  bg_dark_purple: #B02173,
  bg_gray: #EBEBEB,
  bg_white: #fff,
  bg_white_alt: #F2F2F2
)

// map-get($color, colorName)
